/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Raleway:wght@200;300;400;500;600&display=swap");

/*  Fonts */

.navbar-brand,
.booking-link,
h1,
h2 {
  font-family: "Montserrat Subrayada", sans-serif;
}

.nav-item,
p,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

/*  Colours  */

.stone-background {
  background-color: #f5f4ef;
}

.dk-green-background {
  background-color: #052d26;
}

.stone-text {
  color: #f5f4ef;
}

.dk-green-text {
  color: #052d26;
}

.navbar,
.navbar-collapse {
  background-color: #f5f4ef;
}

/* Selectors taking from google developer tools to change nav text color */

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #052d26;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #108f79;
}

/* links hover colour */

a:hover,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #108f79;
}

/*  Navbar section  */

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin-right: 3vw;
}

/* Booking Link */

.booking-link {
  color: #052d26;
  transition: 0.75s;
  font-size: 1.5em;
}

.booking-link:hover {
  text-decoration: none;
  color: #108f79;
  font-size: 1.75em;
}

/* Main title and image section */

.main-title-container {
  height: 100vh;
}

.main-title-row,
.main-title-col {
  height: 100%;
}

.hotel-lobby-image {
  max-height: 90%;
  max-width: 100%;
}

.title-text-block {
  position: absolute;
  bottom: 10%;
  width: 95%;
  padding-top: 10%;
}

.title {
  font-size: 16vw;
  margin-top: 40%;
  margin-right: 0;
  text-align: center;
}

.sub-heading {
  font-size: 5vw;
  text-align: right;
  padding-right: 15%;
}

.main-section-arrow {
  font-size: 6vw;
  text-align: right;
  padding-right: 10%;
}

.main-booking-link {
  display: block;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 820px) {
  .title {
    font-size: 10vw;
  }
  .sub-heading {
    font-size: 3vw;
  }
}

/* about section */

.about-section-row {
    height: 70vh;
}

.about-text {
    position: absolute;
    top: 5%;
    left: 10%;
}

.about-text h1 {
    font-size: 8vw;
}

.about-section-arrow {
    font-size: 6vw;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

@media(max-width: 992px) and (orientation: portrait) {
    .about-section-row {
        height: 35vh;
    }
    .about-text {
        top: 15%;
        left: 15%;
    }
}